@use "../globals/typography" as *;
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap");
/*font size*/
$fs-200: 0.875rem;
$fs-300: 1rem;
$fs-400: 1.125rem;
$fs-500: 1.75rem;
$fs-600: 2rem;
$fs-700: 3.5rem;
$fs-800: 6.25rem;
$fs-900: 9.75rem;

/*font-family*/
$ff-bellefair: "Bellefair", serif;
$ff-barlowCondensed: "Barlow Condensed", sans-serif;
$ff-Barlow: "Barlow", sans-serif;
.ff-bellefair{
  font-family: $ff-bellefair;
}
.ff-barlowCondensed{
  font-family: $ff-barlowCondensed;
}
.ff-Barlow{
  font-family: $ff-Barlow;
}
.fs-200 {
  font-size: $fs-200;
}
.fs-300 {
  font-size: $fs-300;
}
.fs-400 {
  font-size: $fs-400;
}
.fs-500 {
  font-size: $fs-500;
}
.fs-600 {
  font-size: $fs-600;
}
.fs-700 {
  font-size: $fs-700;
}
.fs-800 {
  font-size: $fs-800;
}
.fs-900 {
  font-size: $fs-900;
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: $lh;
}
