
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap');

/*font size*/
$fs-200:0.875rem;
$fs-300:1rem;
$fs-400:1.125rem;
$fs-500:1.75rem;
$fs-600:2rem;
$fs-700:3.5rem;
$fs-800:6.25rem;
$fs-900:9.75rem;

/*font-family*/

$ff-bellefair:"Bellefair",serif;
$ff-barlowCondensed:"Barlow Condensed",sans-serif;
$ff-Barlow:"Barlow",sans-serif;