@use "./colors" as *;
@use "../util/fonts" as*;
/*Box sizing*/
*,*::before,*::after{
    box-sizing: border-box;
}
/*Reset margin*/
body,h1,h2,h3,p{
    margin: 0;
}
h1,h2,h3,p{
  font-weight: 400;
}
body{
    font-family: $ff-Barlow;
    font-size:$fs-400;
    line-height: 1.5;
    min-height: 100vh;
    background-color: $dark;
    color:$white;
}
img,picture{
max-width: 100%;
display: block;
}
button,textarea,select,input{
    font: inherit;
}
a{
  text-decoration: none;
  color: $white;
}
button{
  outline: none;
  border: none;
}

// removing animations for people who turned them off
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}