/*letter spacing*/
$ls-one: 0.2969rem;
$ls-two: 0.1688rem;
$ls-three: 0.1469rem;

/*line height*/
$lh: 1.1;

.ls-one {
  letter-spacing: $ls-one;
}
.ls-two {
  letter-spacing: $ls-two;
}
.ls-three {
  letter-spacing: $ls-three;
}
.uppercase {
  text-transform: uppercase;
}
